html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font: inherit;
	vertical-align: baseline;
}
*{
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: helvetica, arial, sans-serif;
	font-size: 13px;
	background-color: #131722;
	overflow: hidden;
}
body , html{
	height: 100%;
	width: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.flex{
	display: flex;
}
.grid{
	display: grid;
}
.container{
    width: 100%;
    height: 100%;
	position: relative;
}
.header{
    width: 100%;
    height: 42px;
    background-color: #131722;
    display: flex;
    justify-content: space-between;
}
.header-left{
    height: 100%;
    width: 540px;
	display: flex;
	justify-content: space-between;
}
.logo-time{
	height: 100%;
	width: 40%;
	margin-left: 10px;
	display: flex;
}
.logo{
	height: 100%;
	width: 125px;
	flex-shrink: 0;
}
.time{
	height: 100%;
	width: 150px;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
}
.time>p{
	color: #E9922C;
}
#hours{
	font-weight: bold;
}
.logo-img{
	height: 100%;
	width: 100%;
}
.menu{
	height: 100%;
	width: 260px;
}
.menu-list{
	align-items: center;
	flex-shrink: 0;
}
.menu-list>li>a:hover{
	color: #E9922C;
}

.tabActive{
	color: #E9922C;
	font-weight: bold;
}
li>a{
	display: block;
	text-decoration: none;
	color: white;
	font-weight: bold;
	border-left: solid #808285 1px;
	padding: 0px 10px 0px 10px;
}
.header-center{
	height: 100%;
	width: 25%;
	justify-content: flex-start;
	align-items: center;
}
.header-right{
	height: 100%;
	width: 388px;
	margin-left: auto;
	align-items: center;
}
.profit>p{
	color: #E9922C;
}
.profit-value{
	color: yellow !important;
}
.pro{
	margin-left: 80px;
}
.pro-link{
	width: 160px;
	color: white;
	background-color: #97037F;
	border: none;
	padding: 3px;
	border-radius: 5px;
}
.pro-link a{
	color: white;
	text-decoration: none;
}
.pro-link:focus{
	outline: none;
}
.version{
	height: 27px;
	line-height: 27px;
	border: 1px solid #E9922C;
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
	color: white;
	width: 95px;
}
.upgrade{
	color: white;
	background-color: #E9922C;
	text-decoration: none;
	padding: 3px 8px 3px 8px;
	border-radius: 4px;
	margin-left: 10px;
	height: 20px;
	width: 131px;
}
.user{
	position: relative;
	height: 100%;
	align-items: center;
	width: 153px;
}
.user:hover{
	background-color: #2F3240;
	color: #E9922C;
}
.user-button{
	color: white;
	margin-left: 10px;
	align-items: center;
}
.dropdown-content{
	font-weight: bold;
	display: none;
	position: fixed;
	z-index: 1;
	border-top: 1px solid #E9922C;
	line-height: 50px;
	border-radius: 0px 0px 5px 5px;
}
.user:hover .dropdown-content{
	display: block;
	top: 42px;
	right: 0px;
	width: 200px;
	height: 50px;
	background-color: #131722;
}
#logout{
	display: flex;
	text-decoration: none;
	color: white;
	justify-content: flex-end;
	margin-right: 20px;
}
.main-content{
	grid-template-columns: 1fr 350px 400px;
	height: calc(100% - 42px);
}
.main-left{
	grid-template-rows: 55% 45%;
}
.dealing-data{
	grid-template-rows: 1fr 30px;
	background-color: #2F3240;
}
.dealing-menu{
	background-color: #131722;
	height: 30px;
	overflow: hidden;
}
.dealing-menu>*{
	line-height: 30px;
}
.copy-right{
	color: gray;
	margin-left: 10px;
	width: 274px;
	flex-shrink: 0;
}
.fa-bar-chart{
	font-size: 14px !important;
}
.fa-pie-chart{
	font-size: 14px !important;
}
.chart-list{
	margin-left:auto;
	flex-shrink: 0;
}
.chart-list>.active>a{
	color: #E9922C;
}
.chart-list>li>a{
	border: none;
	background-color: #131722;
}
.main-center{
	grid-template-rows: 55% 45%;
	background-color: #2F3240;
}
.main-center-top{
	border: 1px solid #131722;
	overflow: auto;
}
.VN30{
	width: 100%;
	border: 1px solid #131722;
}
.VN30tableHeader{
	justify-content: space-evenly;
	height: 42.4px;
	align-items: center;
}
.floor, .ave, .cell{
	line-height: 1.4;
}
.flex-column{
	flex-direction: column;
}
.space-evenly{
	justify-content: space-evenly;
}
.flex-start{
	justify-content: flex-start;
}
.VN30-data{
	width: 100%;
}
.data-row{
	grid-template-columns: 1fr 1fr;
}
.data-left{
	grid-template-columns: 1fr 2fr;
	border: 0.5px solid #574639;
	position: relative;
}
.data-right{
	grid-template-columns: 2fr 1fr;
	border: 1px solid #574639;
}
.data-row>div>div{
	text-align: center;
	height: 25px;
	line-height: 25px;
}
.VN301{
	width: 100%;
}
.bottom-row{
	grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
}
.bottom-row:nth-child(even){
	background-color: #1E222D;
}
.bottom-row>div{
	text-align: center;
	height: 25px;
	line-height: 25px;
}
.main-center-bottom{
	border: 1px solid #131722;
}
.bottom-table{
	grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
}
.bottom-table>div{
	text-align: center;
	height: 30px;
	line-height: 30px;
}
td{
	text-align:center;
	padding: 5px;
}
tr , th{
	border-bottom: 1px solid rgb(59, 59, 59);
}
.space-between{
	justify-content: space-between !important;
}
.space-around{
	justify-content: space-around !important;
}
.text-left{
	text-align: left;
}
.width-105{
	width: 105px;
}
.width-50{
	width: 50px;
}
.width-90{
	width: 90px;
}
.width-70{
	width: 70px;
}
.width-60{
	width: 60px;
}
.text-orange{
	color:#E9922C;
}
.text-white{
	color: white;
}
.text-red{
	color: red;
}
.text-green{
	color: rgb(31, 231, 31);
}
.text-gray{
	color: #CCCCCC;
}
.text-gem{
	color: #00c5c5;
}
.text-purple{
	color: purple;
}
.text-yellow{
	color: yellow;
}
.main-right{
	grid-template-rows: 55% 45%;
	background-color: #2F3240;
	position: relative;
}
.command-option{
	width: 100%;
	position: absolute;
	bottom: 30px;
	border-top: 2px solid #1E222D;
}
.command-header>ul{
	justify-content: space-between;
	height: 40px;
	align-items: center;
}
.command-header>ul>.active>a{
	color: #E9922C;
}
.command-header>ul>li>a{
	height: 30px;
	border: none;
	line-height: 30px;
}
.command-menu{
	width: 100%;
	background-color: #131722;
}
.command-menu>ul>li{
	width: 33.33%;
}
.command-menu>ul>li>a{
	border: none;
	text-align: center;
	display: block;
	height: 30px;
	line-height: 30px;
}

.input-command{
	margin-left: 10px;
	margin-top: 20px;
	flex-direction: column;
}
.row{
	grid-template-columns: 1fr 2fr;
}
.row>input{
	margin-right: 15px;
	height: 30px;
	align-self: center;
	border-radius: 5px;
	border: none;
	padding-left: 5px;
}
.row>input:focus{
	outline: none;
}
.row>label{
	align-self: center;
}
.confirm-command{
	margin-left: 70px;
	margin-bottom: 20px;
}
.confirm-command>button{
	width: 110px;
	height: 30px;
	border-radius: 5px;
	border: none;
	color: #eee;
	font-weight: bold;
}
.confirm-command>button:focus{
	outline: none;
}
.sell-btn{
	margin-left: 5px;
	margin-right: 5px;
	background-color: red;
}
.buy-btn{
	background-color: rgb(23, 184, 23);
}
#pie-chart{
	display: none;
}
.dealing-chart{
	display: none;
}
.dealing-button .active{
	color: #E9922C;
}
.command-close{
	display: none;
}
.Money-row{
	justify-content: space-between;
	height: 30px;
}
.double{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 400px;
}
.active{
	background-color:#2F3240 !important;
}
.command-menu>ul>.active>a{
	color: #E9922C;
}
.command-menu>ul>li>a{
	font-weight: normal;
}
.command-close-tab{
	display: none;
}
.data-left{
	position: relative;
}
.buy-price::after{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	content: "\A";
	width: 40%;
	background-color: #F7941D;
	z-index: 0;
	opacity: 0.2;
}
.data-right{
	position: relative;
}
.sell-price::after{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	content: "\A";
	width: 60%;
	background-color: #F7941D;
	z-index: 0;
	opacity: 0.2;
}
/* width */
::-webkit-scrollbar {
	width: 8px;
  }
   
  /* Track */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #131722;
	border-radius: 10px;
  }
   
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #2f3240;
  }
  .cm-tab1-data{
	  width: 400px;
	  margin: auto;
  }
  .cm-tab1-data>div{
	text-align: center;
  }
  .cm-row{
	  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
	  height: 30px;
	  line-height: 30px;
	  width: 400px;
  }
  .cm-row:nth-child(odd){
	  background-color: #1E222D;
  }
  #actionDefault2{
	  margin-left: 20px;
  }
  .command-filter-close{
	  display: none;
	  height: 295px;
	  padding-top: 30px;
	  position: absolute;
	  bottom: 12px;
	  border-top: 2px solid #131722;
  }
  .command-filter{
	  padding-top: 30px;
  }
  @media screen and (min-width: 1024px) {
	.main-right{
		display: block;
	}
	.main-content{
		grid-template-columns: 1fr 350px 400px;
	}
}

@media (min-width: 1024px) and (max-width: 1220px){
	.pro{
		margin-left: 10px;
	}
}

  @media (max-width: 1024px){
	.pro{
		display: none;
	}
	.main-right{
		display: none;
	}
	.main-content{
		grid-template-columns: 1fr 350px;
	}
	.command-menu{
		width: 350px;
	}
  }
